---

name: scrape

concurrency:
  group: scrape

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out repo
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install required libraries
        run: pip3 install -r requirements.txt
      - name: run scraper
        run: python3 scraper.py
      - name: Push update
        run: |
          # If there are changes, only then continue
          if [[ $(git status --porcelain | wc -l) -gt 0 ]]; then
              DATENOW=$(date +'%Y-%m-%dT%H:%M:%S')
              git config user.name github-actions
              git config user.email github-actions@github.com
              git add -A
              git commit -m "scraper update: ${DATENOW}"
              git push
          fi
        # env:
        #   GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
